
body {
    /*background-color: ghostwhite;*/
    background-color: #F7F9F9;
    margin-bottom: 30px;
}

#db-name {
    color: #E56399;
}

.table-selector {
    margin-bottom: 30px !important;
}

#data-table {
    background-color: white;
}


.toolbar {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.toolbar .right {
    display: flex;
    align-items: center;
}

.column-hidden {
    display: none;
}


.table-row:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.table-row.active {
    background-color: #FFFF66;
}